<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <style>
        html, body, .brackets {
		width: 100%;
		min-height: 100%;
		font-family: "Arial", sans-serif;
	}
    .listcontainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
        max-width: 1000px;   
    }
    .list{
        border: 3px solid black;
        border-radius: 10px;
        margin: 10px;         
        padding: 20px;                                                       
        font-size: 1.6rem;
        color: white;
        text-decoration: none; 
        word-wrap: break-word;
        max-width: 800px;
        background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
    a:link{
        color: white;
    }
    a:visited{
        color: white;
    }
    a:hover{
        color: #FFCC70;
    }
    a:active{
        color: white;
    }
    .form-container{
        display: flex;
        align-items: center;
        line-height: 1.5rem;
        border: 2px solid purple;
        padding: 10px;
        margin-top: 20px;
        max-width: 500px;
        border-radius: 20px;
    }
    .input-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid purple;
        border-radius: 10px;
        margin: 20px;
        width: 300px;
        padding: 10px;
    }
    .submitBtn{
        background: purple;
        color: white;
        width: 100px;
        font-size: 1rem;
    }
    .username{
        visibility: hidden;
    }
    </style>
</head>
<body>
    <h1>Video Resources</h1>
    <div class="listcontainer">
    </div>
    <p><h3>Playlist Form</h3></p>
    <div class="form-container">
        <form action="/generatePlaylist" method="post">
            <div class="input-container">
                <label for="usrname">USER: </label>
                <input type="text" id="usrname" name="usrname">
            </div>
            <div class="input-container">
                <label for="indexnos">Index Nos.: </label>
                <input type="text" id="IndexNos" name="indexnos" placeholder="Example: 1,2,3...n">
            </div>
            <div class="input-container">
                <label for="deviceID">Device ID: </label>
                <input type="text" id="DeviceId" name="deviceID" placeholder="Example: 765890">    
            </div>
            <div class="btn-container">
                <button type="submit" class="submitBtn">Submit</button>
            </div>
        </form>
    </div>
    <div class="username"><%=username%></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.13.4/underscore-umd-min.js"></script>
<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.addEventListener('load',async ()=>{
            $('#usrname').attr('value',$('.username').text())
            const res = await fetch(`https://dssads-production.up.railway.app/getVideos?username=${$('.username').text()}`);
        if(res){
            const data = await res.json()
            if(data){
                const listcontainer = document.querySelector('.listcontainer')
                console.log(data)
                data.videos.forEach((element,index) => {
                    const html = `<div class = "list"><p>Index No.: ${index}</p><a href = "${element}">${element}</a></div>`
                    listcontainer.insertAdjacentHTML('afterbegin',html)
                });
            }
        }
        })
    </script>
</body>
</html>