<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <style>
        html, body, .brackets {
		width: 100%;
		min-height: 100%;
		font-family: "Arial", sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
;
	}
    .listcontainer{
        display: flex;
        flex-direction: column;
    }
    .list{
        border: 5px solid white;                                                                
        font-size: 2rem;
        color: white;
        text-decoration: none; 
        word-wrap: break-word;
        max-width: 800px;
    }
    a:link{
        color: white;
    }
    a:visited{
        color: white;
    }
    a:hover{
        color: #FFCC70;
    }
    a:active{
        color: white;
    }
    </style>
</head>
<body>
    <div class="listcontainer">
    </div>
    <script>
        window.addEventListener('load',async ()=>{
            const res = await fetch("https://mologmedia.herokuapp.com/getVideos?username=chandansingh@gmail.com");
        if(res){
            const data = await res.json()
            if(data){
                const listcontainer = document.querySelector('.listcontainer')
                console.log(data)
                data.videos.forEach((element,index) => {
                    const html = `<div class = "list"><p>Index No.: ${index}</p><h2><a href = "${element}">${element}</a></h2></div>`
                    listcontainer.insertAdjacentHTML('afterbegin',html)
                });
            }
        }
        })
    </script>
</body>
</html>